@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

body,
html {
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

* {
    user-select: none;
}

.hide {
    display: none;
}

text.header {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

column {
    display: flex;
    flex-direction: column;
}
column.center-v {
    justify-content: center;
}

container {
    display: flex;
    flex-direction: row;
}

card {
    padding: 2px;
    margin-bottom: 2px;
    cursor: pointer;
}
card:hover {
    background: black;
    color: white;
}
card.disabled {
    opacity: 0.5;
    cursor: no-drop;
}

sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 250px;
}
sidebar > * {
    margin-bottom: 20px;
}

content {
    width: 400px;
}

battle-arena {
    display: flex;
    height: 200px;
}
battle-space {
    flex: 1;
}

battler {
    display: flex;
    flex-direction: column;
    width: 80px;
    padding: 6px;
    border: 1px solid black;
    border-radius: 3px;
}

equipment-slot {
    display: inline-flex;
    padding: 2px;
    margin: 2px;
    cursor: pointer;
    border-radius: 3px;
}
equipment-slot:hover {
    background: black;
    color: white;
}
equipment-slot.empty {
    opacity: 0.5;
    pointer-events: none;
}

inventory-item {
    display: inline-flex;
    padding: 2px;
    margin: 2px;
    cursor: pointer;
    border-radius: 3px;
}
inventory-item:hover {
    background: black;
    color: white;
}
inventory-item.empty {
    opacity: 0.5;
    pointer-events: none;
}
