@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap"); */

* {
    padding: 0;
    margin: 0;
    user-select: none;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    background: linear-gradient(#d6d6d6, #ececec);
    height: 100%;
    box-sizing: border-box;
}

.white {
    color: #fff;
}

.hide,
.hidden {
    display: none;
}

text.header {
    font-weight: bold;
    text-transform: uppercase;
}
text.tertiary {
    font-weight: 600;
    color: #bbb;
    text-shadow: #333 0px 0px 2px;
}
text.size10 {
    font-size: 10px;
}
text.uppercase {
    text-transform: uppercase;
}

row {
    display: flex;
    flex-direction: row;
}
row.flex {
    flex: 1;
}
row.center-v {
    align-items: center;
}

column {
    display: flex;
    flex-direction: column;
}
column.center-h {
    align-items: center;
}
column.center-v {
    justify-content: center;
}
column.flex {
    flex: 1;
}

card {
    padding: 2px;
    margin-bottom: 2px;
    cursor: pointer;
}
card:hover {
    background: black;
    color: white;
}
card.disabled {
    opacity: 0.5;
    cursor: no-drop;
}

sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 250px;
}
sidebar > * {
    margin-bottom: 20px;
}

content {
    width: 400px;
}

battle-arena {
    display: flex;
    flex-direction: column;
    height: 500px;
}
battle-space {
    flex: 1;
}

battle-abilities {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100px;
}
battle-ability {
    padding: 4px;
    border: 2px solid #000;
    border-radius: 3px;
    cursor: pointer;
    background: linear-gradient(#dad8d8, #c3c2c2);
    box-shadow: 0 0 2px #696969;
    margin: 0 3px;
}
battle-ability > img {
    display: block;
    zoom: 2;
    image-rendering: pixelated;
}
battle-ability:hover,
battle-ability.selected {
    border: 2px solid #fff;
}
battle-ability:active {
    transform: translateY(1px);
}

@keyframes battler-shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    20% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    40% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    60% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    80% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    100% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
}

equipment-slot {
    display: inline-flex;
    padding: 2px;
    margin: 2px;
    cursor: pointer;
    border-radius: 3px;
}
equipment-slot:hover {
    background: black;
    color: white;
}
equipment-slot.empty {
    opacity: 0.5;
    pointer-events: none;
}

inventory-item {
    display: inline-flex;
    padding: 2px;
    margin: 2px;
    cursor: pointer;
    border-radius: 3px;
}
inventory-item:hover {
    background: black;
    color: white;
}
inventory-item.empty {
    opacity: 0.5;
    pointer-events: none;
}

@keyframes scrolling-text {
    0% {
        opacity: 1;
        transform: translate(-50%, 0px) scale(2, 2);
    }
    15% {
        opacity: 1;
        transform: translate(-50%, 0px) scale(1, 1);
    }
    80% {
        opacity: 1;
        transform: translate(-50%, -50px);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50px);
    }
}

scrolling-text {
    position: absolute;
    left: 50%;
    top: 100px;
    z-index: 999;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    z-index: 999;
    font-size: 19px;
    font-family: fantasy;
    text-shadow: 1px 1px 0px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

    animation-name: scrolling-text;
    animation-duration: 1.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    color: #f44336;
}

battle-status {
    display: flex;
    align-items: center;
    height: 34px;
    margin: 4px;
    padding: 0 8px;
    background: #0000008c;
    box-shadow: 0 3px #bdbdbd;
    border-radius: 3px;
    color: #fff;
    text-shadow: 0 0 2px #1b1b1b;
}
