@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap"); */

@font-face {
    font-family: JupiterProBold;
    src: url(../dist/assets/font/JupiterProBold.otf);
}

* {
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(#d6d6d6, #ececec);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

navbar {
    display: flex;
    flex-direction: row;
    background: #ffffff54;
    border-bottom: 1px solid #cbcbcb;
}
navbar logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    font-family: "JupiterProBold", sans-serif;
    font-size: 14px;
    text-shadow: 0 0 16px #a5a5a5;
    color: #000;
    border-right: 1px solid #cbcbcb;
}
navbar logo > cap {
    font-size: 22px;
}

.button {
    cursor: pointer;
    font-size: 40px;
}
.button:active {
    transform: translateY(1px);
}

semibold {
    font-weight: 600;
}

container {
    display: flex;
    flex-direction: row;
    height: 100%;
    box-sizing: border-box;
}

red {
    color: #ff0000;
    font-weight: bold;
}
green {
    color: #4caf50;
    font-weight: bold;
}

.white {
    color: #fff;
}

.hide,
.hidden {
    display: none !important;
}

/* .inactive {
    opacity: 0.5;
    pointer-events: none;
} */

text.header {
    font-weight: bold;
    text-transform: uppercase;
}
text.tertiary {
    font-weight: 600;
    color: #bbb;
    text-shadow: #333 0px 0px 2px;
}
text.bold {
    font-weight: bold;
}
text.size10 {
    font-size: 10px;
}
text.size13 {
    font-size: 13px;
}
text.size30 {
    font-size: 30px;
}
text.uppercase {
    text-transform: uppercase;
}
text.space-2 {
    margin-bottom: 2px;
}

row {
    display: flex;
    flex-direction: row;
}
row.flex {
    flex: 1;
}
row.center-h {
    justify-content: center;
}
row.center-v {
    align-items: center;
}

column {
    display: flex;
    flex-direction: column;
}
column.center-h {
    align-items: center;
}
column.center-v {
    justify-content: center;
}
column.flex {
    flex: 1;
}

card {
    padding: 2px;
    margin-bottom: 2px;
    cursor: pointer;
}
card:hover {
    background: black;
    color: white;
}
card.disabled {
    opacity: 0.5;
    cursor: no-drop;
}

sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 180px;
    padding: 10px 0;
    border-right: 1px solid #cbcbcb;
}
sidebar > * {
    margin-bottom: 8px;
}

content-holder {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
}
content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}

battle-arena {
    display: flex;
    flex-direction: column;
    height: 500px;
}

battle-abilities {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100px;
}
battle-abilities.inactive {
    opacity: 0.1;
    pointer-events: none;
}

battle-hint {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #9f9e9e;
}

#battle-tooltip {
    display: flex;
    flex-direction: column;
    flex: 0 0 200px;
    padding: 6px 6px 12px;
    border-radius: 3px;
    background: #f1f1f1;
    box-shadow: 0 0 8px #dcdcdc;
    color: #444;
    text-align: center;
}

@keyframes battler-shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    20% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    40% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    60% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    80% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    100% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
}

inventory-item {
    display: inline-flex;
    padding: 2px;
    margin: 2px;
    cursor: pointer;
    border-radius: 3px;
}
inventory-item:hover {
    background: black;
    color: white;
}
inventory-item.empty {
    opacity: 0.5;
    pointer-events: none;
}

battle-status {
    display: flex;
    align-items: center;
    width: 400px;
    height: 34px;
    margin: 4px 4px 100px;
    padding: 0 8px;
    background: #0000008c;
    box-shadow: 0 3px #bdbdbd;
    border-radius: 3px;
    color: #fff;
    text-shadow: 0 0 2px #1b1b1b;
}

popups {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #000000c7;
    z-index: 99;
    cursor: pointer;
}
popups:empty {
    display: none;
}

segment {
    padding: 5px 14px;
    font-weight: 600;
    font-size: 9px;
    color: #999;
    text-transform: uppercase;
}

inventory-container {
    display: flex;
    flex-direction: row;
}
inventory-container > * {
    margin: 3px;
}

tooltip-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
tooltip-container tooltip {
    position: absolute;
    top: 300px;
    left: 200px;
    padding: 3px 5px;
    border-radius: 3px;
    color: #fff;
    background: #000000c7;
    font-size: 11px;
    z-index: 999;
}
